.tittle {
  font-size: 56px;
  font-family: monospace;
  color: black;
  background-color: rgb(198, 61, 61);
  padding: 13px;
  text-align: center;
  border-radius: 5px;
}
section {
  width: 350px;
  float: left;
  padding: 10px;
  background-color: rgb(131, 130, 129);
}
.img1 {
  width: 344px;
}
.section2 {
  width: 350px;
  float: left;
  padding: 10px;
  background-color: rgb(199, 191, 191);
}
.img2 {
  width: 344px;
}
aside {
  background-color: black;
}

.portada1 {
  height: 45px;
}
